<?xml version="1.0"?>
<odoo>
    <!-- Demo Cache Menu -->
    <menuitem id="demo_cache_menu"
      name="Demo Cache" />

    <!-- Action to open the demo_cache list -->
    <act_window id="action_demo_cache"
      name="Demo Cache"
      res_model="demo.cache"
      view_mode="tree,form"/>

    <!-- Menu item to open the demo_cache list -->
    <menuitem id="menu_demo_cache"
      name="Demo Cache"
	    action="action_demo_cache"
      parent="demo_cache_menu" />
</odoo>


