<?xml version="1.0"?>
<odoo>
    <!-- demo_odoo_tutorial App Menu -->
    <menuitem id="demo_odoo_tutorial_menu"
              name="Demo Odoo Tutorial" />

    <!-- Action to open the demo_odoo_tutorial -->
    <act_window id="action_odoo_tutorial"
      name="Demo Odoo Tutorial Action"
      res_model="demo.odoo.tutorial"
      view_mode="tree,form"/>

    <!-- Menu item to open the demo_odoo_tutorial -->
    <menuitem id="menu_odoo_tutorial"
              name="Demo Odoo Tutorial"
	            action="action_odoo_tutorial"
              parent="demo_odoo_tutorial_menu" />

    <act_window id="action_odoo_statistics_tutorial"
      name="Demo Odoo Tutorial Statistics Action"
      res_model="demo.odoo.tutorial.statistics"
      view_mode="pivot"/>

    <menuitem id="menu_odoo_statistics_tutorial"
              name="Demo Odoo Statistics Tutorial"
	            action="action_odoo_statistics_tutorial"
              parent="demo_odoo_tutorial_menu" />
</odoo>


