<?xml version="1.0"?>
<odoo>
    <!-- demo_delegation_tutorial App Menu -->
    <menuitem id="demo_delegation_tutorial_menu"
              name="Demo Delegation Tutorial" />

    <!-- Action to open the demo_delegation_tutorial -->
    <record id="action_delegation_tutorial" model="ir.actions.act_window">
        <field name="name">Demo Delegation Tutorial Action</field>
        <field name="res_model">demo.delegation</field>
        <field name="view_mode">tree,form</field>
    </record>

    <!-- Menu item to open the demo_delegation_tutorial -->
    <menuitem id="menu_delegation_tutorial"
              name="Demo Delegation Tutorial"
	          action="action_delegation_tutorial"
              parent="demo_delegation_tutorial_menu" />
</odoo>


