<?xml version="1.0"?>
<odoo>
    <!-- demo_expense_tutorial App Menu -->
    <menuitem id="demo_expense_tutorial_menu"
              name="Demo Expense Tutorial" />

    <!-- Action to open the demo_expense_tutorial -->
    <record id="action_expense_tutorial" model="ir.actions.act_window">
        <field name="name">Demo Expense Tutorial Action</field>
        <field name="res_model">demo.expense.tutorial</field>
        <field name="view_mode">list,form</field>
        <field name="domain">[]</field>
        <field name="context">{}</field>
        <field name="help" type="html">
            <p class="o_view_nocontent_smiling_face">
            </p>
        </field>
    </record>

    <!-- Menu item to open the demo_expense_tutorial -->
    <menuitem id="menu_expense_tutorial"
              name="Demo Expense Tutorial"
	          action="action_expense_tutorial"
              parent="demo_expense_tutorial_menu" />

    <!-- Action to open the demo_expense_sheet_tutorial -->
    <record id="action_expense_sheet_tutorial" model="ir.actions.act_window">
        <field name="name">Demo Expense Sheet Tutorial Action</field>
        <field name="res_model">demo.expense.sheet.tutorial</field>
        <field name="view_mode">list,form</field>
        <field name="domain">[]</field>
        <field name="context">{}</field>
        <field name="help" type="html">
            <p class="o_view_nocontent_smiling_face">
            </p>
        </field>
    </record>

    <!-- Menu item to open the demo_expense_sheet_tutorial -->
    <menuitem id="menu_expense_sheet_tutorial"
              name="Demo Expense Sheet Tutorial"
	          action="action_expense_sheet_tutorial"
              parent="demo_expense_tutorial_menu" />
</odoo>


