<?xml version="1.0"?>
<odoo>
    <!-- Demo Datetime Menu -->
    <menuitem id="demo_datetime"
              name="Demo Datetime" />

    <!-- Action to open the Demo Datetime list -->
    <record id="action_demo_datetime" model="ir.actions.act_window">
        <field name="name">Demo Datetime</field>
        <field name="res_model">demo.datetime</field>
        <field name="view_mode">tree,form</field>
    </record>

    <!-- Menu item to open the Demo Datetime list -->
    <menuitem id="menu_demo_datetime"
              name="Demo Datetime"
	            action="action_demo_datetime"
              parent="demo_datetime" />

</odoo>


