<?xml version="1.0"?>
<odoo>
    <!-- demo_model_tutorial App Menu -->
    <menuitem id="demo_model_tutorial_menu"
              name="Demo Model Tutorial" />

    <!-- Action to open the demo_model_tutorial -->
    <act_window id="action_demo_model_tutorial"
                name="Demo Model Tutorial Action"
                res_model="demo.model.tutorial"
                view_mode="tree,form"/>

    <!-- Menu item to open the demo_model_tutorial -->
    <menuitem id="menu_demo_model_tutorial"
              name="Demo Model Tutorial"
	          action="action_demo_model_tutorial"
              parent="demo_model_tutorial_menu" />

</odoo>


